
{% load static %}
{% if numero_de_posts > 0 %}
    {% for post in Posts %}
        <article class="post">
        
            <!-- ≃≃# Div com a foto de perfil -->
            <div class="post_fgr_perfil"> 
                <img src="{% static 'images/posts/perfil_para_teste/perfil.jpg' %}" class="post_teste_foto">
            </div>

            <!-- ≃≃# Div com o conteúdo -->
            <div class="post_content">
            <header class="post_autoria"><span class="post_nome_de_usuario">{{post.user.first_name}}</span> <a class="post_user">@{{ post.user }}</a> <time>.&nbsp;&nbsp;. {{post.date }}</time> <button class="post_tres_pontos"><img src="{% static 'images/posts/icones/tres-pontos.svg' %}"></button></header>

            <!-- ≃≃# texto do usuário -->
            <p class="post_text">{{post.texto}}</p>

            <!-- ≃≃# Possíveis imagens, se tiver -->
            <div>
                e aqui as possíveis imagens, se tiver
            </div>

        <!-- ≃≃# icones de baixo -->
            <aside class="post_icones_de_interacao">
                <img src="{% static 'images/posts/icones/comentar_icone.svg' %}">
                <img src="{% static 'images/posts/icones/retwittar_icone.svg' %}">
                <img src="{% static 'images/posts/icones/curtir_icone.svg' %}">
                <img src="{% static 'images/posts/icones/share_icone.svg' %}">
            </aside>
            
            </div>
            
        </article>
    {% endfor %}
{% endif %}

<script>
  function likeCurso(idCurso) {
    fetch("/cursos/api/like/" + idCurso)
      .then((response) => response.json())
      .then((resposta) => {
        console.log(resposta);
        if (resposta.like == true) {
          document.getElementById(`like_${idCurso}`).classList.add("like");
        } else {
          document.getElementById("like_" + idCurso).classList.remove("like");
        }
        document.getElementById(`likes_count_${idCurso}`).innerHTML =
          resposta.likes;
      })
      .catch((error) => {
        console.log(error);
      });
  }
</script>